@import "../../Scss/Color/colors";
@import "../../Scss/Responsive\ measure/measure";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.VlogSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  background-image: url("../Images/ProjectImages/background/backgroundProject.png");
  background-size: cover;
  @include responsive768 {
    background-image: none;
  }
  .VlogSectionHeader {
    display: flex;
    height: 150px;
    justify-content: end;
    align-items: end;
    position: relative;
    @include responsive680 {
      height: 180px;
    }
    h2 {
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: $main-color;
      font-weight: 700;
      background: linear-gradient(90deg, #555 0%, #896a53 52.03%, #555 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include responsive768 {
        font-size: 20px;
      }
      @include responsive1024 {
        font-size: 24px;
      }
    }
    img {
      width: 35%;
    }
  }
  .videoContainer {
    width: 100%;
    display: flex;
    align-items: end;
    z-index: 101;
    .playButton {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      cursor: pointer;
      z-index: 2;
      @include responsive480 {
        width: 70px;
        height: 70px;
        top: 60%;
      }
      @include responsive768 {
        width: 80px;
        height: 80px;
      }
      @include responsive1024 {
        width: 100px;
        height: 100px;
        top: 55%;
      }
      @include minresponsive1440 {
        width: 200px;
        height: 200px;
      }
      @include responsive1600 {
        top: 50%;
      }
    }
    video {
      width: 100%;
      object-fit: cover;
      @include responsive1704 {
      }
    }
  }
  .imageInDown {
    left: 0px;
    z-index: 100;
    img {
      width: 35%;
    }
  }
}
