@import "../../Scss/Responsive\ measure/measure";

:root {
  --Montserrat-Font-Family: "Montserrat";
  --colorForText: #333333;
}
.menuContainer {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 48px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(38.5px);
  z-index: 200;
  @include responsive768 {
    height: 67px;
  }
  @include minresponsive1440 {
    height: 90px;
    padding: 0 130px;
  }
  @include responsive1920 {
    padding: 0 370px;
    max-width: 1920px;
  }
  .addressElement {
    padding-left: 3px;
    img {
      width: 53px;
      height: 36px;
      cursor: pointer;
      @include responsive768 {
        width: 80px;
        height: 56px;
      }
    }
  }
  .textsElement {
    display: none;
    @include minresponsive1440 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 100px; //language display block olanda bunu sil
    }
    a {
      @include minresponsive1440 {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        padding: 15px 0;
      }
    }
    a:after {
      @include minresponsive1440 {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #333;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    }
    a:hover:after {
      @include minresponsive1440 {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    div:nth-child(2) {
      @include minresponsive1440 {
        padding: 0 32px;
      }
    }
    div:nth-child(4) {
      @include minresponsive1440 {
        padding: 0 32px;
      }
    }
    div:last-child {
      @include minresponsive1440 {
        padding-left: 32px;
      }
    }
  }
  .languageAndButtonElements {
    @include minresponsive1440 {
      display: flex;
      align-items: center;
    }
    .dropdownElement1440 {
      display: none;
      @include minresponsive1440 {
        display: block;
        display: block;
        padding-right: 80px;
        padding-top: 5px;
      }
    }
    .iconAndTextButton {
      display: none;
      @include minresponsive1440 {
        height: 48px;
        padding: 12px;
        display: block;
        background: #dead8a;
        border-radius: 8px;
        border: none;
        margin-right: 24px;
        transition: background-color 0.2s;
      }
      &:hover {
        @include minresponsive1440 {
          background-color: #a18570;
        }
      }
      &:active {
        @include minresponsive1440 {
          background-color: #8c6d56;
        }
      }
      .buttonElements {
        @include minresponsive1440 {
          width: 180px;
          display: flex;
          justify-content: center;
          height: 24px;
        }
        img {
          @include minresponsive1440 {
            width: 24px;
            height: 24px;
            margin-right: 12px;
          }
        }
        p {
          @include minresponsive1440 {
            color: #fff;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            padding-top: 2px;
          }
        }
      }
    }
  }
  .dropdownAndMenuBar {
    display: flex;
    align-items: center;
    @include responsive768 {
      display: flex;
      align-items: center;
    }
    @include minresponsive1440 {
      display: none;
    }
    .dropdownElement {
      padding-right: 48px;
      padding-top: 5px;
      @include responsive768 {
        display: block;
        padding-right: 74px;
        padding-top: 5px;
      }
    }
    .iconAndTextButton768 {
      display: none;
      @include responsive768 {
        height: 48px;
        padding: 12px;
        display: block;
        background: #dead8a;
        border-radius: 8px;
        border: none;
        margin-right: 24px;
      }
      &:active {
        @include responsive768 {
          background-color: #a18570;
        }
      }
      .buttonElements {
        @include responsive768 {
          width: 180px;
          display: flex;
          justify-content: center;
          height: 24px;
        }
        img {
          @include responsive768 {
            width: 24px;
            height: 24px;
            margin-right: 12px;
          }
        }
        p {
          @include responsive768 {
            color: #fff;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            padding-top: 2px;
          }
        }
      }
    }
    .menuBarElement {
      padding: 15px 45px 0 12px;
      @include responsive768 {
        padding: 15px 10px 0 0;
      }
      .secondMenuText {
        display: none;
        @include responsive768 {
          display: block;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          color: var(--colorForText);
          font-family: var(--Montserrat-Font-Family);
        }
      }
    }
  }
}
