@import "../../Scss/Responsive\ measure/measure";

.footerContainer {
  width: 100%;
  .contactUsText {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    background: linear-gradient(90deg, #555 0%, #896a53 52.03%, #555 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 42px;
    padding-bottom: 32px;
    @include responsive768 {
      font-size: 20px;
    }
    @include responsive1024 {
      padding: 60px 0;
      font-size: 24px;
    }
    @include minresponsive1440 {
      padding: 80px 0;
    }
  }
  .inputsContainer {
    width: 90%;
    margin: auto;
    padding-bottom: 32px;
    input {
      padding: 8px 24px;
      border-radius: 8px;
      border: 2px solid #dedede;
      background: #fff;
      font-size: 14px;
      font-weight: 500;
      @include responsive768 {
        font-size: 16px;
        font-weight: 600;
      }
      &::placeholder {
        color: #bfbfbf;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        @include responsive768 {
          font-size: 16px;
        }
      }
    }
    .fullnameAndEmailElements {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      @include responsive1024 {
        flex-direction: row;
        justify-content: center;
      }
      input {
        @include responsive1024 {
          width: 100%;
          height: 50px;
        }
        @include minresponsive1440 {
          height: 54px;
        }
        @include responsive1600 {
          height: 64px;
        }
        @include responsive1920 {
          width: 580px;
        }
        ::placeholder {
          @include responsive1024 {
            font-size: 16px;
          }
        }
      }
    }
    .headerAndMessageElements {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      @include responsive1920 {
        width: 100%;
      }
      input {
        @include responsive1024 {
          height: 50px;
        }
        @include minresponsive1440 {
          height: 54px;
        }
        @include responsive1600 {
          height: 64px;
        }
        @include responsive1920 {
          margin: auto;
          width: 1180px;
        }
      }
      .messageInput {
        height: 200px;
        padding: 0 24px 150px 24px;
        @include responsive1024 {
          height: 100px;
          padding: 0 24px 50px 24px;
        }
        @include minresponsive1440 {
          padding: 25px 24px 64px 24px;
        }
        @include responsive1600 {
          padding: 25px 24px 154px 24px;
        }
      }
    }
    .sendButtonElement {
      @include responsive768 {
        display: flex;
        justify-content: end;
      }
      @include responsive1920 {
        width: 1180px;
        margin: auto;
      }
      .sendButton {
        width: 100%;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #c09f78;
        background: #c5a47e;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        @include responsive768 {
          width: 180px;
        }
        @include responsive1024 {
          height: 52px;
        }
        cursor: pointer;
        &:hover {
          background-color: #c6ac98;
        }
        &:active {
          background-color: #a18570;
        }
      }
    }
  }
  .footerWrapper {
    .footerElements {
      display: flex;
      justify-content: center;
      background: #78563d;
      height: 25vh;
      @include responsive768 {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 37vh;
      }
      @include responsive1024 {
        height: 275px;
      }
      @include minresponsive1440 {
        height: 275px;
      }
      @include responsive1600 {
        height: 300px;
      }
      .firstWrapperElement {
        margin: auto 0;
        .imageAddress {
          margin-left: 25px;
          .addressLogo {
            width: 180px;
            height: 100px;
            @include minresponsive1440 {
              width: 204px;
              height: 142px;
            }
          }
        }
        .mapAndLocationText {
          display: flex;
          justify-content: center;
          gap: 4px;
          margin-top: 10px;
          text-decoration: none;
          cursor: pointer;
          img {
            width: 8.506px;
            height: 10.333px;
          }
          p {
            color: #fff;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
          }
        }
        .iconsContainer {
          display: flex;
          justify-content: center;
          gap: 7px;
          .callAndPhoneNumber {
            display: flex;
            justify-content: center;
            gap: 4px;
            text-decoration: none;
            cursor: pointer;
            img {
              width: 8.233px;
              height: 8.228px;
              margin-top: 2px;
            }
            p {
              color: #fff;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 12px;
            }
          }
          .socialNetworkElements {
            a {
              text-decoration: none;
              cursor: pointer;
              img {
                width: 12px;
                height: 12px;
                margin-bottom: 13px;
              }
              &:nth-child(2) {
                margin-left: 4px;
                margin-right: 4px;
              }
              &:nth-child(4) {
                margin-left: 4px;
              }
            }
          }
        }
      }
      .responsive1440WrapperElement {
        display: none;
        @include minresponsive1440 {
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
        p {
          @include minresponsive1440 {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            padding-top: 4px;
          }
        }
      }
      .responsive768WrapperElement {
        display: none;
        @include responsive768 {
          width: 50%;
          display: flex;
          justify-content: space-between;
        }
        @include responsive1024 {
          display: none;
        }
        p {
          @include responsive768 {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            cursor: pointer;
            padding-top: 20px;
          }
        }
      }
      .responsive1024WrapperElement {
        display: none;
        @include responsive1024 {
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
        @include minresponsive1440 {
          display: none;
        }
        p {
          @include responsive1024 {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            padding-top: 24px;
          }
        }
      }
    }
    .aboutDesigner {
      background: #202020;
      .aboutDesignerWrapper {
        display: flex;
        width: 100%;
        padding: 10px 24px;
        @include responsive768 {
          padding: 5px 24px;
        }
        @include minresponsive1440 {
          padding: 5px 24px;
        }
        .designerTestElement {
          width: 65%;
          padding-top: 10px;
          p {
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
          }
        }
        .designerCompanyElement {
          width: 35%;
          padding-top: 8px;
          text-align: right;
          a {
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
