@import "../../Scss/Responsive\ measure/measure";

.container {
  display: none;
  @include responsive1024 {
    display: block;
    width: 100%;
    position: absolute;
  }
  .vectorImageContainer {
    display: flex;
    justify-content: end;
    top: 0px;
    left: 0px;
    img {
      width: 20%;
      @include responsive1920 {
        width: 25%;
      }
    }
  }
}
